<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NZARRA Competition App</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/materialpro-lite/"/>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/nzarra_logo.gif">
    <!-- Custom CSS -->
    <link href="/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" data-layout="vertical" data-header-position="absolute" data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Top bar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin6">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin6">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand ms-4" href="https://www.rocknroll.org.nz/" target="_blank">
                    <!-- Logo icon -->
                    <b class="logo-icon">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="/images/nzarra_logo.gif" alt="homepage" class="dark-logo" height="33" width="34"/>
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                    <!-- dark Logo text -->
                        NZARRA
                    </span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav me-auto mt-md-0">
                    <li class="nav-item">
                        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Judge
                            Sheet</h4>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav">
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" th:href="@{/logout}">
                            <img src="/assets/images/users/agent.jpg" th:alt="${#httpServletRequest.remoteUser}"
                                 class="profile-pic me-2">[[${#httpServletRequest.remoteUser}]]
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div th:if="${message}" class="card">
                <div class="card-body" style="text-align: center;">
                    <h6 th:text="${message}" class="card-title mt-2" style="color: orange"/>
                </div>
            </div>
            <div class="card" th:if="${section}">
                <div class="card-body">
                    <h4 class="card-title"
                        th:text="${'You are now activate to Judge Section ' + section.name + ' - ' + competitionName}"/>
                    <form th:action="@{/judge/add}" method="post" id="judgeForm" onsubmit="validateForm()"
                          class="form-horizontal form-material mx-2">
                        <div class="table-responsive">
                            <table class="table user-table table-hover">
                                <thead>
                                <tr>
                                    <th class="border-top-0">Colours</th>
                                    <th class="border-top-0">Number</th>
                                    <th class="border-top-0" style="width: 25%; white-space: nowrap;">Competitors</th>
                                    <th class="border-top-0">Variety</th>
                                    <th class="border-top-0">Timing</th>
                                    <th class="border-top-0">Harmony</th>
                                    <th class="border-top-0">Total</th>
                                    <th class="border-top-0">Placing</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="competitor, iterStat : ${section.competitors}">
                                    <td>
                                        <img th:if="${iterStat.index % 5 == 0}" src="/images/couple1.jpg" width="50"
                                             height="50">
                                        <img th:if="${iterStat.index % 5 == 1}" src="/images/couple2.png" width="50"
                                             height="50">
                                        <img th:if="${iterStat.index % 5 == 2}" src="/images/couple3.jpg" width="50"
                                             height="50">
                                        <img th:if="${iterStat.index % 5 == 3}" src="/images/couple4.png" width="50"
                                             height="50">
                                        <img th:if="${iterStat.index % 5 == 4}" src="/images/couple5.jpg" width="50"
                                             height="50">
                                    </td>
                                    <td th:text="${competitor.number}"></td>
                                    <td>
                                                <span th:each="name, iterStat2 : ${competitor.names}">
                                                    <span class="no-wrap" th:text="${name}"/><br
                                                        th:if="${!iterStat2.last}"/>
                                                </span>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="number" min="1" max="10" class="form-control ps-0 form-control-line">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="number" min="1" max="10" class="form-control ps-0 form-control-line">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="number" min="1" max="10" class="form-control ps-0 form-control-line">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="number" readonly="readonly" class="form-control ps-0 form-control-line">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="number" min="1" th:max="${iterStat.size}" class="form-control ps-0 form-control-line">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 d-flex">
                                <input type="submit" class="btn btn-success mx-auto mx-md-0 text-white" value="Save">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © NZARRA Competition App by <a href="https://www.whitireia.ac.nz/">Whitireia Community
            Polytechnic</a>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/assets/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/app-style-switcher.js"></script>
<!--Wave Effects -->
<script src="/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.js"></script>
<script>
    function validateForm() {
        const form = $("#judgeForm");
    }
</script>
</body>

</html>