<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NZARRA Competition App</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/materialpro-lite/"/>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/nzarra_logo.gif">
    <!-- Custom CSS -->
    <link href="/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" data-layout="vertical" data-header-position="absolute" data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Top bar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin6">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin6">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand ms-4" href="https://www.rocknroll.org.nz/" target="_blank">
                    <!-- Logo icon -->
                    <b class="logo-icon">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="/images/nzarra_logo.gif" alt="homepage" class="dark-logo" height="33" width="34"/>
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                    <!-- dark Logo text -->
                        NZARRA
                    </span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav me-auto mt-md-0">
                    <li class="nav-item">
                        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Marshall Sheet</h4>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav">
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" th:href="@{/logout}">
                            <img src="/assets/images/users/agent.jpg" th:alt="${#httpServletRequest.remoteUser}"
                                 class="profile-pic me-2">[[${#httpServletRequest.remoteUser}]]
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div th:if="${message}" class="card">
                        <div class="card-body" style="text-align: center;">
                            <h6 th:text="${message}" class="card-title mt-2" style="color: orange"/>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/marshall/add}" method="post" th:object="${marshallForm}" id="marshallForm"
                                  class="form-horizontal form-material mx-2">
                                <div class="form-group">
                                    <label class="col-sm-12">Competition</label>
                                    <div class="col-sm-12 border-bottom">
                                        <select id="competition" onchange="competitionChange()"
                                                class="form-select shadow-none ps-0 border-0 form-control-line">
                                            <option th:each="competition, iterStat : ${competitions}"
                                                    th:value="${competition.id}" th:text="${competition.name}"
                                                    th:checked="${iterStat.first}"/>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Section</label>
                                    <div class="col-sm-12 border-bottom">
                                        <select id="section" th:field="*{sectionId}" onchange="sectionChange()"
                                                class="form-select shadow-none ps-0 border-0 form-control-line">
                                            <option th:each="section, iterStat : ${sections}"
                                                    th:value="${section.id}" th:text="${section.name}"
                                                    th:checked="${iterStat.first}"/>
                                        </select>
                                    </div>
                                </div>
                                <h4 id="table_title" class="card-title" th:text="${'Section ' + sectionName + ' Competitors'}"></h4>
                                <div class="table-responsive">
                                    <table class="table user-table table-hover">
                                        <thead>
                                        <tr>
                                            <th class="border-top-0">Lineup</th>
                                            <th class="border-top-0">Names</th>
                                            <th class="border-top-0">Colours</th>
                                            <th class="border-top-0">Number</th>
                                            <th class="border-top-0"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                        <tr th:each="competitor, iterStat : *{competitors}">
                                            <td>
                                                <span th:text="${competitor.lineup}" class="lineup"/>
                                                <input th:field="*{competitors[__${iterStat.index}__].id}" type="hidden" th:value="${competitor.id}">
                                                <input th:field="*{competitors[__${iterStat.index}__].lineup}" type="hidden" th:value="${competitor.lineup}">
                                            </td>
                                            <td>
                                                <div th:each="name, iterStat2 : ${competitor.names}" class="form-group">
                                                    <div class="col-sm-12 d-flex">
                                                        <input type="text" th:field="*{competitors[__${iterStat.index}__].names[__${iterStat2.index}__]}" th:value="${name}" placeholder="Competitor name" class="form-control ps-0 form-control-line">
                                                        <input type="button" th:if="${!iterStat2.first}" class="btn btn-danger mx-auto mx-md-0 text-white" onclick="deleteName(this)" value="X">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="button" class="btn btn-warning mx-auto mx-md-0 text-white" th:onclick="'addName(' + ${iterStat.index} + ', this)'" value="Add Name">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="text" th:field="*{competitors[__${iterStat.index}__].colours}" th:value="${competitor.colours}" placeholder="Colours" class="form-control ps-0 form-control-line">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="text" th:field="*{competitors[__${iterStat.index}__].number}" th:value="${competitor.number}" placeholder="Number" class="form-control ps-0 form-control-line">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="button" class="btn btn-danger mx-auto mx-md-0 text-white" onclick="deleteCompetitor(this)" value="Delete">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 d-flex">
                                        <input type="button" class="btn btn-info mx-auto mx-md-0 text-white"
                                               onclick="addCompetitor(null)" value="Add Competitor">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="button" class="btn btn-success mx-auto mx-md-0 text-white"
                                               onclick="validateForm()" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © NZARRA Competition App by <a href="https://www.whitireia.ac.nz/">Whitireia Community
            Polytechnic</a>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/assets/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/app-style-switcher.js"></script>
<!--Wave Effects -->
<script src="/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.js"></script>
<script th:inline="javascript">
    function competitionChange() {
        const competition = $("#competition");
        const section = $("#section");
        const title = $("#table_title");
        const url = "/marshall/sections?competition_id=" + competition.val();

        $.get(url, function (data) {
            section.empty();
            $.each(data, function (index, item) {
                if (index == 0)
                    section.append("<option value='" + Object.keys(item) + "' selected='selected'>" + Object.values(item) + "</option>");
                else
                    section.append("<option value='" + Object.keys(item) + "'>" + Object.values(item) + "</option>");
            });
            title.text("Section " + $("#section option:selected").text() + " Competitors");

            $.get("/marshall/competitors?section_id=" + $("#section option:selected").val(), function (data2) {
                $("#tableBody").empty();
                $.each(data2, function (index2, item2) {
                    addCompetitor(item2);
                });
            });
        });
    }

    function sectionChange() {
        $("#table_title").text("Section " + $("#section option:selected").text() + " Competitors");

        const url = "/marshall/competitors?section_id=" + $("#section option:selected").val();

        $.get(url, function (data) {
            $("#tableBody").empty();
            $.each(data, function (index, item) {
                addCompetitor(item);
            });
        });
    }

    function addCompetitor(competitor) {
        const cIndex = $(".lineup").length;
        let lineup = $(".lineup").length + 1;
        let nameHtml =
            '<div class="form-group">\n' +
            '  <div class="col-sm-12 d-flex">\n' +
            '    <input type="text" name="competitors[' + cIndex + '].names[0]" id="competitors' + cIndex + '.names0" placeholder="Competitor name" class="form-control ps-0 form-control-line">\n' +
            '  </div>\n' +
            '</div>';
        let colours = "";
        let number = "";

        if (competitor) {
            lineup = competitor.lineup;
            if (competitor.names) {
                nameHtml = '';
                $.each(competitor.names, function (index, name) {
                    nameHtml +=
                        '<div class="form-group">\n' +
                        '  <div class="col-sm-12 d-flex">\n' +
                        '    <input type="text" name="competitors[' + cIndex + '].names[' + index + ']" id="competitors' + cIndex + '.names' + index + '" value="' + name + '" placeholder="Competitor name" class="form-control ps-0 form-control-line">\n';
                    if (index != 0)
                        nameHtml += '<input type="button" class="btn btn-danger mx-auto mx-md-0 text-white" onclick="deleteName(this)" value="X">\n';
                    nameHtml += '  </div>\n' +
                        '</div>\n';
                });
            }
            colours = competitor.colours;
            number = competitor.number;
        }

        const competitorHtml =
            '<tr>\n' +
            '  <td>\n' +
            '    <span class="lineup">' + lineup + '</span>\n' +
            '    <input name="competitors[' + cIndex + '].id" id="competitors' + cIndex + '.id" type="hidden" value="' + (competitor ? competitor.id : '') + '">\n' +
            '    <input name="competitors[' + cIndex + '].lineup" id="competitors' + cIndex + '.lineup" type="hidden" value="' + lineup + '">\n' +
            '  </td>\n' +
            '  <td>\n' + nameHtml +
            '    <div class="form-group">\n' +
            '      <div class="col-md-12">\n' +
            '        <input type="button" class="btn btn-warning mx-auto mx-md-0 text-white" onclick="addName(' + cIndex + ', this)" value="Add Name">\n' +
            '      </div>\n' +
            '    </div>\n' +
            '  </td>\n' +
            '  <td>\n' +
            '    <div class="form-group">\n' +
            '      <div class="col-md-12">\n' +
            '        <input type="text" name="competitors[' + cIndex + '].colours" id="competitors' + cIndex + '.colours" placeholder="Colours" value="' + colours + '" class="form-control ps-0 form-control-line">\n' +
            '      </div>\n' +
            '    </div>\n' +
            '  </td>\n' +
            '  <td>\n' +
            '    <div class="form-group">\n' +
            '      <div class="col-md-12">\n' +
            '        <input type="text" name="competitors[' + cIndex + '].number" id="competitors' + cIndex + '.number" placeholder="Number" value="' + number + '" class="form-control ps-0 form-control-line">\n' +
            '      </div>\n' +
            '    </div>\n' +
            '  </td>\n' +
            '  <td>\n' +
            '    <div class="form-group">\n' +
            '      <div class="col-md-12">\n' +
            '        <input type="button" class="btn btn-danger mx-auto mx-md-0 text-white" onclick="deleteCompetitor(this)" value="Delete">\n' +
            '      </div>\n' +
            '    </div>\n' +
            '  </td>\n' +
            '</tr>\n';

        $("#tableBody").append(competitorHtml);
    }

    function deleteCompetitor(clickedButton) {
        $(clickedButton).parent().parent().parent().parent().remove();
        $.each($(".lineup"), function (index, item) {
            $(item).text(index + 1);
        });
    }

    function addName(cIndex, clickedButton) {
        const nIndex = $("input[name^='competitors[" + cIndex + "].names']").length;
        const nameHtml =
            '<div class="form-group">\n' +
            '  <div class="col-sm-12 d-flex">\n' +
            '    <input type="text" name="competitors[' + cIndex + '].names[' + nIndex + ']" id="competitors' + cIndex + '.names' + nIndex + '" placeholder="Competitor name" class="form-control ps-0 form-control-line">\n' +
            '    <input type="button" class="btn btn-danger mx-auto mx-md-0 text-white" onclick="deleteName(this)" value="X">\n' +
            '  </div>\n' +
            '</div>';
        $(nameHtml).insertBefore($(clickedButton).parent().parent());
    }

    function deleteName(clickedButton) {
        $(clickedButton).parent().parent().remove();
    }

    function validateForm() {
        const form = $("#marshallForm");

        form.submit();
    }
</script>
</body>

</html>